<div class = "contants">
<div class="top_msg">
  <div class = "t_menu">
    <h1>Wellcome to Calor</h1>
    <br>
    <br>

    <p>Calorは、ハンドメイド作品の共有、相互アドバイスのためのコミュニティです。</p>
    <p>ここでは作品を誰でも投稿することができます。</p>
    <p>あなたも作品を作る楽しさに加え、作品を披露する楽しさも体験しませんか。</p>
</div>
</div>
</div>
